<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">毎月渋谷で勉強会を開催しています</h2>
                <hr class="light">
                <p class="text-faded">ブロックチェーン技術を学習するためにオリジナルブロックチェーンを作りながら学習するコミュニティです。Substrate を使ってオリジナルブロックチェーンを作ります。勉強会への参加は必須ではありませんのでお気軽に Slack へご参加ください。</p>
                <a href="https://join.slack.com/t/blockchainstd/shared_invite/zt-f9iojm5t-8GGH1ZHoQdOB2rvPuiTYyA" class="btn btn-default btn-xl" target="_blank">Slack へ参加する</a>
                <a href="https://bdevux.connpass.com/" class="btn btn-default btn-xl" target="_blank">勉強会に参加する</a>
            </div>
        </div>
    </div>
</section>
